--- yaml
layout: 'default'
title: 'Home'
---

.logo
	.container
		.row
			.col-2.text-center
				img(src="/img/logo.png")
			.col-2.weare
				p.weare-static we are
				.weare-roll-container
					ul.weare-roll
						li Design
						li Code
						li Creative
						li Innovative
						li Brainr

section#about.container
	.row
		.col-4
			h2 Rólunk
	.row
		.col-2
			p Lorem ipsum
		.col-2
			p Lorem ipsum

.clearfix

section#services.container
	.row
		.col-4
			h2 Amiben jók vagyunk
	.row
		.col-2
			p Lorem ipsum
		.col-2
			p Lorem ipsum

.clearfix

section#portfolio.container
	.row
		.col-4
			h2 Rólunk
	.row
		.col-2
			p Lorem ipsum
		.col-2
			p Lorem ipsum

.clearfix

section#prices.container
	h2 Kérjen árajánlatot!
	.row
		.col-4
			p Megrendelő rendszerünk jelenleg fejlesztés alatt áll. Míg az elkészül, kérjen tőlünk egyedi árajánlatot az alábbi űrlap elküldésével!
	.row
		.col-4
			form#offer-request.panel
				.row
					.col-2
						p
							label(for="or-name") Név
							input#or-name(type="text", name="name", placeholder="Kovács János", required)
						p
							label(for="or-email") E-mail cím
							input#or-email(type="email", name="email", placeholder="j.kovacs@vallalat.hu", required)
					.col-2
						p
							label(for="or-comment") Mire kér árajánlatot?
							textarea#or-comment(name="comment", rows="5")
				.row
					.col-4
						p.text-right
							button.submit.btn.btn-lg.btn-primary(type="submit")
								i.fa
								span Elküldés

.clearfix
