blue = #0099ce
yellow = #ffe811
red = #ff3366
green = #3bd42e
white = #fff
black = #222

background = white

body, html
	background-color background
	min-width 360px
	font-family 'Merriweather', serif

h1, h2, h3, h4, h5, h6
	font-family 'Open Sans', sans-serif

.menu
	color black

.logo
	margin-top 60px
